<td class='main-link news-item clearfix' colspan="{{titleColSpan}}">
  {{#if topic.rss}}
    {{raw "list/topic-thumbnail" topic=topic thumbnails=topic.image_url opts=thumbnailOpts}}
  {{else}}
    {{raw "list/topic-thumbnail" topic=topic thumbnails=thumbnails category=category opts=thumbnailOpts}}
  {{/if}}

  <div class="topic-title">
    <span class='link-top-line'>
      {{#if topic.rss}}
        <a href="{{topic.url}}" class="title">{{{topic.title}}}</a>
      {{else}}
        {{topic-link topic}}
      {{/if}}
    </span>
  </div>

  <div class="topic-details">
    {{#if topic.rss}}
      {{topic.description}}
    {{else}}
      {{raw "list/topic-excerpt" topic=topic}}
    {{/if}}
  </div>

  <button class="share btn-flat no-text btn-icon"
    data-share-url="{{topic.url}}"
    data-post-number="1">
    {{d-icon 'link'}}
  </button>
</td>
