<div class="news-item-title">
  <span class='link-top-line'>
    {{#if topic.rss}}
      <a href="{{topic.url}}" class="title">{{{topic.title}}}</a>
    {{else}}
      {{topic-link topic}}
    {{/if}}
  </span>
  
  <div class="link-bottom-line">
    <div class="news-item-author">
      {{topic.creator.displayName}}
    </div>
    {{#if topic.created_at}}
      <span>|</span>
      <div class="news-item-date">
        {{raw-date topic.created_at}}
      </div>
    {{/if}}
  </div>
</div>