<td class='main-link news-item clearfix' colspan="{{titleColSpan}}">
  {{#if topic.image_url}}
    <div class="news-item-thumbnail">
      <a href='{{topic.url}}'>
        <img src={{topic.image_url}}>
      </a>
    </div>
  {{/if}}

  <div class="news-item-title">
    <span class='link-top-line'>
      {{#if topic.rss}}
        <a href="{{topic.url}}" class="title">{{{topic.title}}}</a>
      {{else}}
        {{topic-link topic}}
      {{/if}}
    </span>
    
    <div class="news-item-author">
      {{topic.creator.displayName}}
    </div>
  </div>

  <div class="news-item-body">
    {{#if topic.rss}}
      {{{topic.description}}}
    {{else}}
      {{{topic.escapedNewsExcerpt}}}
    {{/if}}
  </div>

  <div class="news-item-gutter">
    {{#if showReplies}}
      <div class='news-item-replies posts-map {{likesHeat}}' title='{{title}}'>
        <a href class='posts-map badge-posts {{likesHeat}}'>{{number topic.replyCount}}</a>
        <span>{{i18n 'replies_lowercase' count=topic.replyCount}}</span>
      </div>
    {{/if}}

    <button class="share btn-flat no-text btn-icon"
      data-share-url="{{topic.url}}"
      data-post-number="1">
      {{d-icon 'link'}}
    </button>
  </div>
</td>
